.tituloToolbar{
  color: white;
  font-size: 120%;
}

ion-menu-button{
  color:white;
  font-size: 190%;
}

ion-title div{
  font-size: 130%;
  font-weight: bolder;
  white-space: normal;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  color: rgba(0, 0, 0, 0.61);
}

ion-card-title{
  text-align: center;
}

ion-icon{
  width: 10%;
  vertical-align: middle;
}

ion-textarea{
  height: 200px;
}

.subelo-icon{
  width: 120px;
}

.camera-button{
  width: 100%;
}

.align-center{
  font-size: 100%;
  font-weight: bolder;
  color: gray;
}

.subir-button{
  margin-top: 10%;
}

.top{
  margin-top: 5%;
}

.bottom-section{
  border-bottom: 1px solid lightgray;
}

.preview-img{
  margin-top: 5%;
  width: 100px;
  height: 75px;
}

