<ion-content>
  <ion-button shape="round" type="submit" color="light" expand="block">
    <ion-icon name="logo-facebook" slot="start" color="primary"></ion-icon>
    Continuar con Facebook
  </ion-button>

  <ion-button shape="round" type="submit" color="light" expand="block">
    <ion-icon name="logo-google" slot="start" color="danger"></ion-icon>
    Continuar con Google
  </ion-button>

  <ion-button (click)="toRegistro()" shape="round" type="submit" color="main2" expand="block">
    <ion-icon name="mail" slot="start" color="light"></ion-icon>
    Continuar con el e-mail
  </ion-button>

  <p>¿Ya tienes cuenta? <b (click)="toLogin()">Iniciar Sesión</b></p>
</ion-content>

