ion-slides{
  max-height: 300px;
}

.title{
  color: white;
  font-size: 120%;
}

ion-menu-button{
  color:white;
  font-size: 190%;
}

ion-row{
  width: fit-content;
}

.first-item{
  font-weight: bolder;
}

.price{
  font-size: 150%;
}

.seleccionada{
  color: white;
  background-color: #f7963b;
}

.title2{
  margin-top: 5%;
  margin-left: -6%;
}
