ion-slides{
  max-height: 300px;
}

.title{
  color: white;
  font-size: 120%;
}

ion-menu-button{
  color:white;
  font-size: 190%;
}

ion-row{
  width: fit-content;
}

.first-item{
  font-weight: bolder;
}

.price{
  font-size: 150%;
}

.seleccionada{
  color: white;
  background-color: #f7963b;
}

.title2{
  margin-top: 5%;
  margin-left: -6%;
}

.map{
  height: 200px;
  width: 100%;
}

.overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128,128,128,0.5); /* color */
  z-index: 3;
}

.modal {
  position: fixed; /* positioning in center of page */
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  height: fit-content; /* size */
  width: 80%;
  background-color: white; /* background color */
  border-radius: 5px;
}

.modal-head{
  background-color: #f7963b;
  color: white;
  width: 100%;
  height: 35px;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  border-radius: 2px;
}

.btn-modal{
  color: white;
}

.close{
  font-size: 25px;
  margin-left: -100%;
}

.modal-body{
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.modal-icon{
  padding-right: 10px;
}
