.tituloToolbar{
  color: white;
  font-size: 120%;
}

ion-menu-button{
  color:white;
  font-size: 190%;
}

.nombre{
  margin-left: -8%;
  margin-bottom: 4%;
}

.first-row{
  margin-top: 3%;
}

.map{
  height: 200px;
  width: 100%;
}

.subidos{
  margin-top: 1%;
}
.subidos h4{
  color: white;
}
