<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="" />
        <h2>¡Bienvenido/a!</h2>
        <p>
          En <b>Fixme</b> ahora podrás comprar o vender tus objetos dañados o en mal estado.
        </p>

        <ion-button shape="round" type="submit" color="light" expand="block">
          <ion-icon name="logo-facebook" slot="start" color="primary"></ion-icon>
          Continuar con Facebook
        </ion-button>

        <ion-button shape="round" type="submit" color="light" expand="block">
          <ion-icon name="logo-google" slot="start" color="danger"></ion-icon>
          Continuar con Google
        </ion-button>

        <ion-button (click)="toRegistro()" shape="round" type="submit" color="main2" expand="block">
          <ion-icon name="mail" slot="start" color="light"></ion-icon>
          Continuar con el e-mail
        </ion-button>

        <p>¿Ya tienes cuenta? <b (click)="toLogin()">Iniciar Sesión</b></p>

        <ion-item class="radios" lines="none">
          <ion-radio-group value="uno"><ion-radio slot="start" color="main2"></ion-radio></ion-radio-group>
          <ion-radio-group><ion-radio slot="start" color="main2"></ion-radio></ion-radio-group>
          <ion-radio-group><ion-radio slot="start" color="main2"></ion-radio></ion-radio-group>
          <ion-radio-group><ion-radio slot="start" color="main2"></ion-radio></ion-radio-group>
        </ion-item>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="" />
      <h2>¡Repáralo y vendelo de nuevo!</h2>
      <p>
        Saca <b class="green">BENEFICIO</b> vendiendo los objetos que compres después de repararlos.
        ¡Tu valoración de usuario se verá incrementada y tus productos serán recomendados!.
      </p>

      <ion-button shape="round" type="submit" color="light" expand="block">
        <ion-icon name="logo-facebook" slot="start" color="primary"></ion-icon>
        Continuar con Facebook
      </ion-button>

      <ion-button shape="round" type="submit" color="light" expand="block">
        <ion-icon name="logo-google" slot="start" color="danger"></ion-icon>
        Continuar con Google
      </ion-button>

      <ion-button (click)="toRegistro()" shape="round" type="submit" color="main2" expand="block">
        <ion-icon name="mail" slot="start" color="light"></ion-icon>
        Continuar con el e-mail
      </ion-button>

      <p>¿Ya tienes cuenta? <b (click)="toLogin()">Iniciar Sesión</b></p>

    </ion-slide>

    <ion-slide>
      <img src="" />
      <h2>Envialo o Entregalo</h2>
      <p>
        Usa <b>Fixme</b> a tu manera. Podrás escoger entre enviar tu producto o entregarlo personalmente.
      </p>

      <ion-button shape="round" type="submit" color="light" expand="block">
        <ion-icon name="logo-facebook" slot="start" color="primary"></ion-icon>
        Continuar con Facebook
      </ion-button>

      <ion-button shape="round" type="submit" color="light" expand="block">
        <ion-icon name="logo-google" slot="start" color="danger"></ion-icon>
        Continuar con Google
      </ion-button>

      <ion-button (click)="toRegistro()" shape="round" type="submit" color="main2" expand="block">
        <ion-icon name="mail" slot="start" color="light"></ion-icon>
        Continuar con el e-mail
      </ion-button>

      <p>¿Ya tienes cuenta? <b (click)="toLogin()">Iniciar Sesión</b></p>
    </ion-slide>

    <ion-slide>
      <img src="" />
      <h2 class="listo">¿Listo/a para empezar?</h2>
      <ion-button shape="round" type="submit" color="light" expand="block">
        <ion-icon name="logo-facebook" slot="start" color="primary"></ion-icon>
        Continuar con Facebook
      </ion-button>

      <ion-button shape="round" type="submit" color="light" expand="block">
        <ion-icon name="logo-google" slot="start" color="danger"></ion-icon>
        Continuar con Google
      </ion-button>

      <ion-button (click)="toRegistro()" shape="round" type="submit" color="main2" expand="block">
        <ion-icon name="mail" slot="start" color="light"></ion-icon>
        Continuar con el e-mail
      </ion-button>

      <p>¿Ya tienes cuenta? <b (click)="toLogin()">Iniciar Sesión</b></p>

      <ion-button (click)="toMain()" fill="clear">Echa un vistazo antes de nada<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
