<ion-header [translucent]="true">
  <ion-toolbar color="main2">
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title slot="">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-toolbar>
    <ion-searchbar name="search" [(ngModel)]="search" placeholder="Buscar un producto"></ion-searchbar>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-slides #mySlider [options]="sliderOptions">
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
          <ion-slide *ngFor="let c of categorias" (click)="filtroCat(c.nombre)">
              <ion-chip outline color="main2" id="{{c.nombre}}">
                <ion-label>{{c.nombre}}</ion-label>
                <ion-label style="margin-left: 3px;">({{c.numProductos}})</ion-label>
              </ion-chip>
          </ion-slide>
          <ion-icon name="chevron-forward-circle-outline"></ion-icon>
        </ion-slides>
      </ion-col>

      <ng-container *ngIf="!filtros">
        <ion-col *ngFor="let p of productosScroll | productFilter:search" size="6">
          <app-product-card [routerLink]="['/producto/detalle', p._id]" [p]="p"></app-product-card>
        </ion-col>
      </ng-container>

      <ng-container *ngIf="filtros">
        <ion-col *ngFor="let p of finalProducts | productFilter:search" size="6">
          <app-product-card [routerLink]="['/producto/detalle', p._id]" [p]="p"></app-product-card>
        </ion-col>
      </ng-container>


        <ion-infinite-scroll (ionInfinite)="loadMoreItems($event)" [disabled]="finished">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>

    </ion-row>
  </ion-grid>
</ion-content>
