<ion-header [translucent]="true">
  <ion-toolbar color="main2">
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title slot="">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tabs 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-toolbar>
    <ion-searchbar placeholder="Buscar un producto"></ion-searchbar>
  </ion-toolbar>

  <ion-item *ngFor="let p of productos">
    <ion-title>{{p.nombre}}</ion-title>
    <img src="{{ p.imagen[0] }}" alt="">
  </ion-item>
</ion-content>
