
ion-card-title{
  margin-top: -10%;
  font-weight: bolder;
  font-size: 100%;
  text-align: center;
}

ion-card{
  .product-img{
    width: 100%;
    height: 100px;
  }
}


.first-col{
  border-right: 1px solid rgb(202, 195, 195);
}

.down-col{
  align-items: center;
  text-align: center;
}

button{
  background-color: white;
}

.seleccionada{
  color: white;
  background-color: #f7963b;
}

ion-card-subtitle{
  white-space: nowrap;
}
