<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="notifications/chats" (click)="enterChats()">
      <ion-icon *ngIf="chats" name="chatbubbles-outline" color="main2"></ion-icon>
      <ion-icon *ngIf="!chats" name="chatbubbles" color="main2"></ion-icon>
      <ion-label color="main2">Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="subelo" (click)="enterSubelo()">
      <ion-icon *ngIf="subelo" name="add-circle-outline" color="main2"></ion-icon>
      <ion-icon *ngIf="!subelo" name="add-circle" color="main2"></ion-icon>
      <ion-label color="main2">Súbelo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inicio" (click)="enterInicio()">
      <ion-icon *ngIf="inicio" name="home-outline" color="main2"></ion-icon>
      <ion-icon *ngIf="!inicio" name="home" color="main2"></ion-icon>
      <ion-label color="main2">Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoritos" (click)="enterFavoritos()">
      <ion-icon *ngIf="favoritos" name="heart-outline" color="main2"></ion-icon>
      <ion-icon *ngIf="!favoritos" name="heart" color="main2"></ion-icon>
      <ion-label color="main2">Favs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" (click)="enterNoti()">
      <ion-icon *ngIf="noti" name="notifications-outline" color="main2"></ion-icon>
      <ion-icon *ngIf="!noti" name="notifications" color="main2"></ion-icon>
      <ion-label color="main2">Notis</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
