.tituloToolbar{
  color: white;
  font-size: 120%;
}

ion-menu-button{
  color:white;
  font-size: 190%;
}

ion-title div{
  font-size: 130%;
  font-weight: bolder;
  white-space: normal;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  color: rgba(0, 0, 0, 0.61);
}

ion-card-title{
  text-align: center;
}

ion-card{
  //border: 2px solid #f7963b;
}

ion-icon{
  width: 10%;
  vertical-align: middle;
}

ion-textarea{
  height: 200px;
}

